:root {
  --logo-color: #2196f3;
  --navigation-color: #212121;
  --contacts-color: #757575;
  --second-title-color: #212121;
  --first-title-color: #ffffff;
  --third-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #ffffff;
  --btn-background-color: #2196f3;
  --first-background-color: #2f303a;
  --second-btn-background-color: #f5f4fa;
  --second-btn-color: #212121;
  --accent-btn-color: #ffffff;
  --accent-btn-background-color: #2196f3;
}

body {
  font-family: 'Roboto', 'Raleway', 'sans-serif';
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-align {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*===========  Header  ===========*/

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
}

.header-item-menu {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item-menu:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000000;
}

.list-navigation {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.active-list {
  color: var(--accent-color);
}

.list-navigation:hover,
.list-navigation:focus {
  color: var(--accent-color);
}

.active-list::after {
  position: absolute;
  display: block;

  width: 100%;
  height: 4px;
  bottom: 0;
  content: '';
  background: #2196f3;
  border-radius: 2px;
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

.icon-contacts:hover,
.icon-contacts:focus {
  fill: currentColor;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-header:not(:last-child) {
  margin-right: 50px;
}

.contacts-header-link {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}

/*=========  Hero  =========*/

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--first-background-color);
}

.main-title {
  margin-bottom: 30px;
  text-align: center;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.hero-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--btn-background-color);
  cursor: pointer;
  border: none;
}

/*==========  Section 1  ==========*/

.features-container {
  display: flex;
  justify-content: space-between;
}

.features-icon-section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.item-features {
  width: 270px;
}

.title-features {
  margin-bottom: 10px;

  color: var(--third-title-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*==========  Section 2
Section 3  ==========*/

.services-container {
  display: flex;
  flex-wrap: wrap;
}

.services-link {
  display: flex;
  align-items: end;
  position: relative;
}

.text-services {
  position: absolute;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.item-services:not(:last-child) {
  margin-right: 30px;
}

.title-sections {
  text-align: center;

  margin-bottom: 50px;

  color: var(--second-title-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-container {
  display: flex;
}
.main-team-container {
  background-color: #f5f4fa;
}

.item-team {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-team:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.title-employee {
  padding-bottom: 10px;
  color: var(--third-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.text-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
}

.social-links-team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 0 32px;
}
.icon-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.icon-social-link:hover,
.icon-social-link:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/*==========  Section 4  ===========*/

.clients-section {
  display: flex;
  justify-content: space-between;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.clients-item-link:hover,
.clients-item-link:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #2196f3;
}

/*==========  Footer  ===========*/

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-background-color);
}
.logo-footer {
  color: #ffffff;
}

.physical-adress {
  margin-top: 20px;
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-links-container {
  width: 206px;
  margin-left: 70px;
  margin-top: 12px;
}

.footer-info {
  display: flex;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.social-links-footer {
  display: flex;
  justify-content: space-between;
}

.footer-subscribe {
  flex-direction: column;
  margin-left: 93px;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.text-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-top: 12px;
  display: block;
}

.input-subscribe {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  color: #ffffff;
  outline: none;
}

.input-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  width: 200px;
  height: 50px;
  background-color: var(--btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  margin-left: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-subscribe {
  margin-left: 10px;
}

/*==========  Portfolio  ===========*/

.guide-container {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.guide-list-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: no;
  color: var(--second-btn-color);
  background-color: var(--second-btn-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.guide-list-btn {
  padding: 6px 22px;
}

.item-guide:not(:last-child) {
  margin-right: 8px;
}

.guide-list-btn:hover,
.guide-list-btn:focus {
  color: var(--accent-btn-color);
  background-color: var(--accent-btn-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-item {
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .text-projects-item {
  transform: translateY(0);
}

.projects-item:hover,
.projects-item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-projects-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-projects-wrap {
  position: relative;
  overflow: hidden;
}

.text-projects-container {
  padding: 20px 0 20px 24px;
}

.projects-item:nth-child(3n + 0) {
  margin-right: 0;
}

.title-projects {
  color: var(--second-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-projects {
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}

/*=============== Backdrop ================*/

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0%;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: skew(0);
  transform: translate(-50%, -50%);
  transition: transform 500ms;
  padding: 40px;
}

.close-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translateX(1500px) skew(75deg);
  transition: transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-area:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-area:focus + .form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--second-title-color);
}

.input-area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 10px;
  color: var(--text-color);
}
.form-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
}

.form-comments:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--btn-background-color);
  padding: auto;
  display: block;
  margin: 0 auto;
}

.agreement {
  color: var(--accent-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.icon-check {
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 1px solid #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.icon-check-item {
  fill: #ffffff;
}

.modal-check:checked + .text-policy .icon-check {
  background: #2196f3;
  border-radius: 2px;
  border: none;
}
